.descr {
  background-color: #4f4e4e;
  padding: 18px 0 12px 0;
  .container {
    max-width: 1703px;
  }
  &__text {
    color: #ffffff;
    font-family: 'Fira Sans';
    font-size: 17px;
    font-weight: 500;
  }
}

@media (max-width: 1919px) {
  .descr__text {
    font-size: 12px;
    text-align: center;
  }
}
